In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [43]:
from gspread.models import Worksheet
sh = gc.open('Data SET')
ws = gc.open('Data SET').sheet1
rows  = ws.get_all_records()

In [4]:
wks = sh.add_worksheet(title='resultados',rows='20',cols='20')

In [44]:
import pandas as pd
df = pd.DataFrame.from_records(rows)
import numpy as np

df

       Author Sentiment   Country Theme
0    Joseluna  Positive   Ecuador    PA
1      sixt93  Negative  Colombia    CA
2     alberto  Positive   Francia    OT
3     carlosz  Negative       USA    OT
4      jgbesq  Negative        UK    PA
5      nuri90   Neutral     Spain    EV
6   santiago8   Neutral     Chile    KS
7    Joseluna  Positive      Peru    KS
8     alberto  Positive   Francia    OT
9      jgbesq  Negative    Panama    KS
10     sixt93  Negative  Portugal    OT
11  santiago8   Neutral     Chile    KS
12  santiago8   Neutral   Bolivia    PA
13     nico23   Neutral       USA    PA
14    alberto  Positive       USA    KS

In [163]:
tabla = pd.pivot_table(df,index=('Author','Sentiment'),columns='Country', fill_value='FALSO',aggfunc={'Country':'sum','Theme':'sum'})
tabla

                     Country                                                 \
Country              Bolivia       Chile  Colombia  Ecuador         Francia
Author    Sentiment
Joseluna  Positive     FALSO       FALSO     FALSO  Ecuador           FALSO
alberto   Positive     FALSO       FALSO     FALSO    FALSO  FranciaFrancia
carlosz   Negative     FALSO       FALSO     FALSO    FALSO           FALSO
jgbesq    Negative     FALSO       FALSO     FALSO    FALSO           FALSO
nico23    Neutral      FALSO       FALSO     FALSO    FALSO           FALSO
nuri90    Neutral      FALSO       FALSO     FALSO    FALSO           FALSO
santiago8 Neutral    Bolivia  ChileChile     FALSO    FALSO           FALSO
sixt93    Negative     FALSO       FALSO  Colombia    FALSO           FALSO

                                                            ...  Theme  \
Country              Panama   Peru  Portugal  Spain     UK  ...  Chile
Author    Sentiment                                         ...
Joseluna  Positive    FALSO   Peru     FALSO  FALSO  FALSO  ...  FALSO
alberto   Positive    FALSO  FALSO     FALSO  FALSO  FALSO  ...  FALSO
carlosz   Negative    FALSO  FALSO     FALSO  FALSO  FALSO  ...  FALSO
jgbesq    Negative   Panama  FALSO     FALSO  FALSO     UK  ...  FALSO
nico23    Neutral     FALSO  FALSO     FALSO  FALSO  FALSO  ...  FALSO
nuri90    Neutral     FALSO  FALSO     FALSO  Spain  FALSO  ...  FALSO
santiago8 Neutral     FALSO  FALSO     FALSO  FALSO  FALSO  ...   KSKS
sixt93    Negative    FALSO  FALSO  Portugal  FALSO  FALSO  ...  FALSO

                                                                            \
Country             Colombia Ecuador Francia Panama   Peru Portugal  Spain
Author    Sentiment
Joseluna  Positive     FALSO      PA   FALSO  FALSO     KS    FALSO  FALSO
alberto   Positive     FALSO   FALSO    OTOT  FALSO  FALSO    FALSO  FALSO
carlosz   Negative     FALSO   FALSO   FALSO  FALSO  FALSO    FALSO  FALSO
jgbesq    Negative     FALSO   FALSO   FALSO     KS  FALSO    FALSO  FALSO
nico23    Neutral      FALSO   FALSO   FALSO  FALSO  FALSO    FALSO  FALSO
nuri90    Neutral      FALSO   FALSO   FALSO  FALSO  FALSO    FALSO     EV
santiago8 Neutral      FALSO   FALSO   FALSO  FALSO  FALSO    FALSO  FALSO
sixt93    Negative        CA   FALSO   FALSO  FALSO  FALSO       OT  FALSO


Country                 UK    USA
Author    Sentiment
Joseluna  Positive   FALSO  FALSO
alberto   Positive   FALSO     KS
carlosz   Negative   FALSO     OT
jgbesq    Negative      PA  FALSO
nico23    Neutral    FALSO     PA
nuri90    Neutral    FALSO  FALSO
santiago8 Neutral    FALSO  FALSO
sixt93    Negative   FALSO  FALSO

[8 rows x 22 columns]

In [162]:
wks.update(None,tabla.to_numpy().tolist())

{'spreadsheetId': '1uqy6ROZKu-o14nlDMbgnFehvZTEYDSM30W6l2OsXRKk',
 'updatedCells': 176,
 'updatedColumns': 22,
 'updatedRange': 'resultados!A1:V8',
 'updatedRows': 8}